<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rcg_chips0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,250}</string>
                <key>spriteSourceSize</key>
                <string>{238,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rcg_chips1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{122,1},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rcg_chips2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{243,1},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rcg_chips3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{364,1},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rcg_chips4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{485,1},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rcg_chips_ui.png</string>
            <key>size</key>
            <string>{605,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a0352dd048b8bb145ed449bc960fbca:94f3d887e15e8ed9bf9e1f05ce379d1c:8218e7b38fed3df3ba518f2fa5c4e6d4$</string>
            <key>textureFileName</key>
            <string>rcg_chips_ui.png</string>
        </dict>
    </dict>
</plist>
